.book-app {
    display: flex;
    flex-direction: column;
}

.book-filter {
    display: flex;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    align-items: center;
}

.book-filter input,
select {
    height: 30px;
}